@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700&display=swap');

* {
  margin: 0;
}

html, body {
  border: none;
}

/* Header */

#titles {
  border: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  padding-top: 5px;
  padding-bottom: 20px;
  border-bottom: double 7px #FCF0CC;
  z-index: 10;
  background-image: linear-gradient(to bottom right, #6D3B47, #282F44);
  color: #FCF0CC;
}

#titles h1 {
  text-align: center;
  border: none;
  font-family: Source Serif Pro, Arial, Serif;
  font-weight: 900 bold;
  font-size: 4em;
}

#titles pre {
  text-align: center;
  border: none;
  font-family: Source Serif Pro, Arial, Serif;
  font-weight: 600;
  font-style: italic;
  font-size: 1.2em;
}

/* Main */

main {
  padding-top: 115px;
  border: none;
  z-index: 1;
  background-color: #282F44;
}

section {
  border: none;
  padding-top: 45px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

iframe {
  width: 80%;
  height: 750px;
}

/* Navigation */

nav {
  background-color: #BA2C73;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding: 30px 0;
  display: flex;
  justify-content: center;
}

nav a {
  display: inline-block;
  margin: 0 17px;
  padding: 10px;
  font-family: Source Serif Pro, Arial, Serif;
  font-weight: 300;
  color: #FCF0CC;
  background-color: #191D32;
  border-radius: 7px;
  font-size: 1.2em;
}

nav a:hover {
  padding: 10px;
  margin: -5px 15px;
  opacity: 90%;
  font-weight: bold;
  font-size: 1.4em;
  color: white;
}

/* Contact Footer */

footer {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  background-color: #453A49;
}

footer p {
  display: inline-block;
  padding: 0 50px;
  font-family: Source Serif Pro, Arial, Serif;
  font-weight: 300;
  font-size: 1.2em;
  color: #FCF0CC;
}
